body
  background: #0d71bb

.homepage.fragment
  height: 100vh
  display: flex

  .wrapper
    width: 100%
    align-self: center
    justify-self: center

  h1.header
    font-size: 4em
    font-family: 'Rubik'

  .text.lead
    p
      font-size: 1.5em
      color: white